:root{
  --clr-1:#FAAA33;
  --clr-2:#0465CD;
  --clr-3:#0056b3;
  --clr-4:#F49301;
  --black-1:#282828;
}
.content{
  background-image: linear-gradient( #3C77B6,var(--clr-2)) !important;
  background-color: var(--clr-2) !important;
  width: 100%;
  flex:1;
}
html,body{
  height: 100%;
}
.content > h1 {
  position: relative;
  top: -1rem; 
}
input:disabled {
cursor: not-allowed; /* Change cursor style */
pointer-events: none; /* Disable pointer events */
opacity: 0.7;
}
.submit-btn:disabled{
cursor: not-allowed; /* Change cursor style */
pointer-events: none; /* Disable pointer events */
opacity: 0.7;
}
.main-container{
  align-items: center;
  justify-content: center;
  flex:1;
}
.drag-area{
  border: 2px dashed var(--clr-1);
  border-bottom: 0px;
  border-radius: 0.2;
  height:30rem;
}
.checkbox-top-left {
  position: absolute;
  top: -2rem; /* Adjust as per the actual height of your checkbox */
  left: 0;
  /* z-index: 5; Ensure it's above the drag area */
}

.drag-area.active{
  border-style: solid;
}


.drag-area header{
  font-size: 25px;
  font-weight: 500;
}

.drag-area span{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 15px 0;
}
.browse-btn{
  font-size: 20px;
  font-weight: 500;
  color:var(--clr-2);
}
.browse-btn:hover{
  background-color: var(--clr-2);
  color:var(--bs-light);
  border-color:var(--clr-3);
}


/* .floating-form-label{
  color:rgba(var(--bs-light),.65);
}
.floating-form-label::after{
  background-color: var(--clr-1) !important;
} */
.bg-clr-1{
  background-color: var(--clr-1) !important;
}
.text-clr-1{
  color:var(--clr-1);
}
.submit-btn{
  padding: 12px;
  font-size: 1.1em;
  font-weight: 600;
  background-color: var(--bs-light);
  color: var(--black-1);
  border-radius: 8px;
  border-color:var(--clr-1);
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Added transform */
}



.submit-btn:hover {
  background-color: var(--clr-4);
  color:var(--bs-light);
  transform: translateY(-2px);  /* Slight lift on hover */
}


.image-container img {   
  max-width: 100%;
  margin: 15px 0;  /* Added spacing */
  border: 1px solid #ccc;
  border-radius: 8px;  /* Rounded corners for images */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}