{% extends "base.html" %} {% block title %} Image Processing {% endblock %}
{%block content %}


<div class="content">

    <h1 class="text-light p-4 text-center user-select-none">Cluster Images</h1>
    <div class="main-container d-flex mb-5 position-relative">
        <button id="clusterBtn" class="submit-btn rounded-3 w-75 m-2" type="button">Cluster Images</button>
        <button id="groupsBtn" class="submit-btn rounded-3 w-75 m-2" type="button">Get Groups</button>
    </div>
    <div class="row m-0 position-relative">

        {% for groupId, faces in groups.items() %}
        <div class="col-12">
            <div class="d-flex  align-items-center h3 text-black">
                <div>Id: </div>
                <div class="editableText">{{groupId}}</div>
                <div class="editButton btn px-1">
                    <i class="fas fa-pen "></i>
                </div>
            </div>
            <div class="row">
                {% for face in faces %}
                <div class="col-3 d-flex flex-column justify-content-center m-0">
                    <img src="http://127.0.0.1:5057/static/SCRFD10G/{{face}}" onclick="handleFaceClick(this.src)" />
                    <p class="text-truncate">{{ face }}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- set up the configured parameters -->
    <div class="bg-light w-100 pb-4 position-relative">
        <h3 class="text-center pb-3">Parameters</h3>
        <div class="container">
            <div class="row">
                <div class="offset-4 col-2">Similarity Threshold:</div>
                <div class="col-1 d-flex">
                    <input class="parameter" min="0" max="1" value="0.5" step="0.01" id="SimilarityThreshold"
                        type="range" name="SimilarityThreshold" />
                    <output class="ms-1"></output>
                </div>
            </div>
            <div class="row">
                <div class="offset-4 col-2">Min Group Size:</div>
                <div class="col-1 d-flex">
                    <input class="parameter" min="1" max="30" value="0.5" step="1" id="MinGroupSize" type="range"
                        name="MinGroupSize" />
                    <output class="ms-1"></output>
                </div>
            </div>
            <div class="row mt-1">
                <div class="offset-5 col-3 d-flex">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="ClusterByFamilySwitch">
                        <label class="form-check-label" for="ClusterByFamilySwitch">Cluster By Family</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    //save the thr ,group size and cluster family values 
    const similarity_thresh = parseFloat('{{parameters["similarity_thresh"]}}');
    $('#SimilarityThreshold').val(similarity_thresh)
    const min_group_size = parseInt('{{parameters["min_group_size"]}}');
    $('#MinGroupSize').val(min_group_size)
    const cluster_family = '{{parameters["cluster_family"] }}'.toLowerCase() === "true";
    
    const $cluster_family_switch=$('#ClusterByFamilySwitch');
    $cluster_family_switch.change(function (e) {
        checked = $(this).prop('checked')
        $similarity_thresh = $('#SimilarityThreshold')
        if (checked) {
            $similarity_thresh.val(0.13)
            updateRangeOutput($similarity_thresh[0]);
        }
        $similarity_thresh.prop('disabled', checked)
    });

    if (cluster_family) {
        $cluster_family_switch.prop('checked', true);
    } else {
        $cluster_family_switch.prop('checked', false);
    }
    $cluster_family_switch.trigger('change')
</script>
<script src="{{url_for('static', filename='js/clustering.js')}}"></script>
{% endblock %}