{% extends "base.html" %} {% block title %} Image Processing {% endblock %} {%
block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="showFormButton">Download Pictures from Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div style="display: none;" id="downloadForm">
        <form class=" my-2 my-lg-0 d-flex"  method="POST" action="/download">
            <input class="form-control mr-sm-2 mx-1" type="url" name="website_url" id="website_url_input" placeholder="Enter website URL" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Download</button>
        </form>
    </div>
</nav>

<div class="content">
    <h1 class="text-light m-4 text-center user-select-none">Upload and Process Images</h1>
    <div class="main-container mb-5">


        <form action="/" method="POST" enctype="multipart/form-data" class="w-100">
            <div class="d-flex align-items-center justify-content-center">
                {% for i in range(2) %}
                <div class="d-flex flex-column col-4">
                    <!-- Drag area  -->

                    <div id="dragarea{{i+1}}" class="drag-area position-relative d-flex align-items-center 
                        justify-content-center flex-column rounded-top-0 p-5
                        {{'active' if current|length>0 else 'inactive'}}">
                        {%if current[i]%}
                        <div
                            class="w-100 bg-dark text-light text-truncate rounded-top-1 position-absolute top-0 z-3 p-1 text-center fw-bold">
                            {{current[i]}}</div>
                        {%endif%}
                        {%if i==0 and current|length==0%}
                        <video id="video" class="position-absolute w-100 d-none h-100 object-fit-fill" autoplay></video>
                        {%endif%}
                        <canvas class="img-fluid d-none position-absolute rounded-top-1 z-2 h-100 w-100" alt="">

                        </canvas>
                        <input type="file" name="image{{i+1}}" accept="image/*" hidden />
                        <input type="number" name="face_num{{i+1}}" accept="image/*" value="-2"
                            id="face_num_input{{i+1}}" hidden />
                        <!-- Dont render the second drag&drop if only 1 image uploaded -->
                        {%if(current|length==0) or (current|length==1 and 1==i)%}
                        <div class="d-flex align-items-center justify-content-center 
                        flex-column" id="dragarea{{i+1}}-content">
                            <div class=" text-light user-select-none" style="font-size: 100px;">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </div>
                            <header class="text-light user-select-none text-center">
                                Drag & Drop to Upload File
                            </header>
                            <span class="text-light user-select-none">OR</span>
                            <button type="button" class="browse-btn btn  btn-light px-4 py-2">
                                Browse File
                            </button>
                        </div>
                        {%endif%}
                    </div>
                    <div>
                        <div class="form-floating">
                            <select id="combo-box{{i+1}}" class="form-select rounded-0 ">
                                <option value="-2">All</option>
                                {% for j in range(faces_length[i]) %}
                                <option value="{{ j }}">Face {{ j + 1 }}</option>
                                {% endfor %}
                            </select>
                            <label class="" for="combo-box{{i+1}}">Select a Face:</label>
                        </div>
                        <div class="w-100">
                            <button id="findBtn{{i+1}}" class="btn btn-success w-100 rounded-bottom-2 rounded-top-0"
                                type="button">show faces</button>
                        </div>
                    </div>
                </div>

                {% if i == 0 %}
                <!-- Buttons -->
                <div class=" d-flex col-2 flex-column align-items-center">
                    <!-- <input type="submit" name="action" value="Upload" class="submit-btn rounded-3 w-75 m-2" /> -->
                    {% if current | length == 0%}
                    <button id="startVideoBtn" class="submit-btn rounded-3 w-75 m-2" type="button">Start Video</button>
                    {%endif%} 
                    <input type="submit" name="action" value="Check" class="submit-btn w-75 m-2" />
                    <input type="submit" name="action" value="improve" class="submit-btn w-75 m-2" />
                    {% if current | length == 2%}
                    <input type="submit" name="action" value="Compare" class="submit-btn w-75 m-2" />
                    {%endif%}
                    <input type="submit" name="action" value="Clear" class="submit-btn w-75 m-2" />

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="messageContainer" style="z-index: 11" class="position-fixed bottom-0 w-25 end-0 p-0"></div>

</div>

<script>
    const current_images = JSON.parse('{{ current | tojson | safe}}');
    const selected_faces = JSON.parse('{{ selected_faces | tojson | safe}}');
    if (messages.length > 0 || errors.length > 0) {
        const myModal = new bootstrap.Modal(document.getElementById("myModal"));
        myModal.show();
    }
</script>
<script src="{{url_for('static', filename='js/image.js')}}"></script>

{% endblock %}